#uuid {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    color: white;
    opacity: 0.3;
    font-size: 10px;
}

#lecturer-list {
    position: relative;

    width: 90%;
    min-width: 1000px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
}

#content-container {
    position: relative;

    margin: 10px;
    width: auto;
}

table {
    font-size: 1em;
}

#main-info-container {
    position: inherit;
    background-color: skyblue;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1.5;

    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;

    cursor: pointer;
}

#teacher-image {
    position: relative;
    background-color: #00384D;

    background-image: url("/images/TdA-icons/SVG/TdA_ikony_studium_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #FFFFFF;
    font-family: 'Lalezar';

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.teacher-name {
    position: relative;
    height: 37px;
    width: 100%;
    margin-left: 5px;

    width: 90%;

    white-space: nowrap;
    overflow: hidden;
}

#teacher-location {
    position: relative;
    height: min-content;
    width: 100%;

    margin-left: 10px;
    margin-top: 0px;

    white-space: nowrap;
    overflow: hidden;
}

#teacher-claim {
    position: relative;
    height: 25px;
    width: 90%;

    padding: 0px 10px;
    color: rgba(51, 51, 51, 0.4);

    margin-left: 0px;
    margin-top: 0px;

    overflow: hidden;
}


#tags-container {
    position: relative;
    width: 100%;
    height: 20px;
    overflow: hidden;

    margin-top: 0px;

    padding: 5px;
    padding-top: 0;

    display: flex;
    flex-flow: row wrap;
    row-gap: 0px;
}

.tag {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;

    background-color: skyblue;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);

    color: #FFFFFF;
    font-family: 'Lalezar';
    font-weight: bolder;
    font-size: 10px;
}

#teacher-price {
    position: relative;
    margin: 10px;
    margin-left: 10px;
    height: min-content;
    width: 90%;

    margin-top: 0px;
    margin-bottom: 17px;

    white-space: nowrap;
    overflow: hidden;
}