extends layout

block content
  
  h1(id=Title, onclick="window.location='/'")= "Katalog Lektoru"
  script.
    uuid="#{uuid}"
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="/scripts/lecturer.js")

  link(rel="stylesheet" href="/stylesheets/lecturer-style.css")


