doctype html
html(lang="cs")
  head
    meta(charset="utf-8")
    title Titulek
    style.
      @import url("stylesheets/style.css");
    body
      #content-container
        #main-info-container
          img#teacher-image(src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp", alt="image of the lecturer")
          div
          #teacher-name
            h2 Mgr.
            h1 Petra Swil Plachá
            h2 MBA
          h2#teacher-location ⚲ Brno
          h3#teacher-claim Aktivní studentka / Předsedkyně spolku / Projektová manažerka
        #secondary-info-container
          #desc-container
            h4#desc-text
              p Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, pořádání konferencí, spolupráce na soutěžích Prezentiáda, pIšQworky, 
                b Tour de App
                | a Středoškolák roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového managementu, rozvíjení soft-skills a vzdělávání. U studentských projektů a akcí jsem si vyzkoušela snad všechno od marketingu po logistiku a moc ráda to předám dál. Momentálně studuji Pdf MUNI a FF MUNI v Brně.
            h3#teacher-contact tel. +420 722 482 974, e-mail: placha@scg.cz, predseda@scg.cz, cena za hodinu: 1200
            img#tda-icon-desc(src="./images/TdA_ikony_nastaveni_white.svg", alt="icon")
          #tags-container
            .tag Dobrovolnictví
            .tag Studentské spolky
            .tag Marketing pro neziskové studentské projekty
            .tag Mimoškolní aktivity
            .tag Projektový management, event management
            .tag Efektivní učení
            .tag Prezentační dovednosti
            .tag Fundraising pro neziskové studentské projekty
      #uuid 67fda282-2bca-41ef-9caf-039cc5c8dd69
      img#tda-logo(src="./images/TeacherDigitalAgency_LOGO_colour-white.png", alt="tda logo")
