extends layout

block content

    script(src="https://code.jquery.com/jquery-3.6.0.js")

    link(rel="stylesheet" href="stylesheets/login/login-style.css")
    script(src="scripts/signup.js")

    #login-container

        img#logo(src="./images/TdA-logo/TeacherDigitalAgency_LOGO_white.png" alt="tda white logo" onclick="window.location='/'")
        input#username(placeholder="Enter Username")
        input#password(type="password" placeholder="Enter Password")
        input#showpass(type="checkbox")
        label(for="showpass")="Show Password"
        #username-error=""
        #password-error=""
        #bttn(class="signinbtn")="Sign Up"


