body {
    background-color: #333333;
    margin: 0;
    height: 100%;
    overflow: auto;
}

h1{
    color: #FFFFFF;
    font-family: 'Lalezar';
    font-size: 40px;

    width: max-content;
    margin: 7px;

    display: inline-block;
    max-width: 100%;

}

h2 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 30px;

    width: max-content;
    margin-top: 5px;
    margin-bottom: 5px;

    display: inline-block;
    max-width: 100%;
}

h3 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
    max-width: 100%;
}

h4 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
    max-width: 100%;
}

#bttn {
    position: relative;


    margin: auto;

    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;

    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

#bttn:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#bttn:active {
    transition: transform 0.05s;
    transform: translateY(0);
    box-shadow: none;
}


#header {
    top: 30px;
    position: relative;
    height: fit-content;
    min-height: 100px;
    width: auto;
    min-width: 1000px;

    display: grid;
    grid-template-columns: 25% 50% 25% ;
    margin: auto;
    margin-left: 29px;
    margin-right: 29px;

    background-color: skyblue;
    overflow: hidden;



    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#title {
    position:  relative;

    font-size: 50px;
    text-align: center;

    margin: auto;

    max-width: 800px;
    max-height: 200px;
}

#logo {
    position: relative;
    left: 0;
    top: 0;

    margin: 10px;
    padding: 10px;

    max-width: 120px;
    max-height: 120px;
    min-width: 50px;
    min-height: 50px;
}

#uuid {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    color: white;
    opacity: 0.3;
}



#content-container {
    position: relative;

    margin-top: 30px;
    width: 100%;
    height: 90%;

    display: grid;
    grid-template-columns: 700px auto;
}

@media all and (max-width: 1550px) {
    #content-container {
        grid-template-columns: 90% !important;
        grid-template-rows: auto auto;
    }

    #secondary-info-container {
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 30px !important;
    }

    #main-info-container {
        max-width: 100% !important;
    }
}


#main-info-container {
    position: inherit;
    background-color: skyblue;
    width: 700px;
    height: fit-content;
    overflow: hidden;

    top: 30px;
    left: 30px;

    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#teacher-image {
    position: relative;
    background-color: #00384D;

    background-image: url("/images/TdA-icons/SVG/TdA_ikony_studium_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #FFFFFF;
    font-family: 'Lalezar';

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

#teacher-name {
    position: relative;
    height: min-content;
    width: 100%;

    margin-left: 10px;
    width: 90%;
}

#teacher-location {
    position: relative;
    height: min-content;
    width: 100%;

    margin-left: 10px;
    margin-top: 0px;
}

#teacher-claim {
    position: relative;
    height: min-content;
    width: 100%;

    padding: 0px 10px;
    color: rgba(51, 51, 51, 0.4);

    margin-top: 0px;
    margin-bottom: 17px;
}





#secondary-info-container {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-right: 30px;
    height: fit-content;
    top: 30px;
    left: 30px;
}

#desc-container {
    position: relative;
    background-color: skyblue;
    width: 100%;
    height: fit-content;
    min-height: 250px;

    overflow: hidden;

    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#tda-icon-desc {
    position: absolute;
    background-color: transparent;

    display: block;
    object-fit: cover;
    width: 120px;
    height: 120px;
    right: 0;
    top: 0;
    margin: 30px;
}

#tags-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 30px;

    display: flex;
    flex-flow: row wrap;
}

.tag {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;

    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;

    background-color: skyblue;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);

    color: #FFFFFF;
    font-family: 'Lalezar';
    font-weight: bolder;
    font-size: 25px;
}




#desc-text {
    position: relative;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;

    height: min-content;
    width: 75%;
}

#teacher-contact {
    position: absolute;
    margin: auto;
    text-align: center;
    height: min-content;
    width: 100%;

    bottom: 0px;
    margin-top: 0px;
    margin-bottom: 17px;
}
