body {
    background-color: #333333;
    margin: 0;
    height: 100%;
    overflow: auto;
}

h1{
    color: #333333;
    font-family: 'Lalezar';
    font-size: 40px;

    width: max-content;
    margin: 7px;

    display: inline-block;
}

h2 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 30px;

    width: max-content;
    margin-top: 5px;
    margin-bottom: 5px;

    display: inline-block;
}

h3 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
}

h4 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
}

#bttn {
    position: relative;


    margin: auto;

    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;

    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

#bttn:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#bttn:active {
    transition: transform 0.05s;
    transform: translateY(0);
    box-shadow: none;
}
