body {
    background-color: #333333;
    margin: 0;
    height: 100%;
    overflow: auto;
}

h1{
    color: #FFFFFF;
    font-family: 'Lalezar';
    font-size: 40px;

    width: max-content;
    margin: 7px;

    display: inline-block;
}

h2 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 30px;

    width: max-content;
    margin-top: 5px;
    margin-bottom: 5px;

    display: inline-block;
}

h3 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
}

h4 {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;

    width: max-content;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: skyblue;
}

#uuid {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    color: white;
    opacity: 0.3;
}

#tda-logo {
    position: absolute;
    right: 0;
    top: 740px;
    margin: 10px;
    background-color: transparent;

    background-size: cover;

    max-width: 250px;
    max-height: 200px;

    width: auto;
    height: auto;
}




#content-container {
    position: relative;

    width: 100%;
    height: 90%;

    display: grid;
    grid-template-columns: 700px auto;
}

#main-info-container {
    position: inherit;
    background-color: skyblue;
    width: 700px;
    height: fit-content;

    top: 30px;
    left: 30px;
    
    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#teacher-image {
    position: relative;
    background-color: #00384D;

    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

#teacher-name {
    position: relative;
    height: min-content;
    width: 100%;

    margin-left: 10px;
    width: 90%;
}

#teacher-location {
    position: relative;
    height: min-content;
    width: 100%;

    margin-left: 10px;
    margin-top: 0px;
}

#teacher-claim {
    position: relative;
    height: min-content;
    width: 100%;

    padding: 0px 10px;
    color: rgba(51, 51, 51, 0.4);

    margin-top: 0px;
    margin-bottom: 17px;
}





#secondary-info-container {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-right: 30px;
    height: fit-content;
    top: 30px;
    left: 30px;
}

#desc-container {
    position: relative;
    background-color: skyblue;
    width: 100%;
    height: fit-content;

    overflow: hidden;
    
    border-radius: 10px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#tda-icon-desc {
    position: absolute;
    background-color: transparent;

    display: block;
    object-fit: cover;
    width: 120px;
    height: 120px;
    right: 0;
    top: 0;
    margin: 30px;
}

#tags-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 30px;

    display: flex;
    flex-flow: row wrap;
}

.tag {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;

    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;

    background-color: skyblue;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);

    color: #FFFFFF;
    font-family: 'Lalezar';
    font-weight: bolder;
    font-size: 25px;
}




#desc-text {
    position: relative;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;

    height: min-content;
    width: 75%;
}

#teacher-contact {
    position: relative;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: min-content;
    width: 100%;

    margin-top: 0px;
    margin-bottom: 17px;
}