/* The popup form - hidden by default */
#form {
  display: none;
  position: fixed;

  top: 30%;
  left: 75%;
  translate: -50% -50%;
  z-index: 9;
}

/* Add styles to the form container */
#form-container {
  position: relative;

  padding: 10px;
  position: inherit;
  background-color: skyblue;
  width: 400px;
  height: fit-content;

  border-radius: 10px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Full-width input fields */
#form-container input {
  width: 93%;
  padding: 15px;
  margin: 10px auto 10px 0px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
#form-container input {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
#form-container #bttn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
#form-container .close-form {
  background-color: red;
}

/* Add some hover effects to buttons */
#form-container #bttn:hover,
.submit:hover {
  opacity: 1;
}

#calendar {
  background-color: white;
}